*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background: linear-gradient(129.07deg, rgba(138, 186, 197, 0.21) 2.5%, rgba(16, 3, 20, 0) 72.4%), linear-gradient(180deg, #b9fbff 0%, #d1c9f1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 400% 400%;
  animation: gradient-anim;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  height: 100vh;
  overflow: auto;
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid lightblue;
  border-radius: 5px;
}

@keyframes gradient-anim {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.cursor-inner {
  height: 5px;
  width: 5px;
  border: 1px solid rgba(3, 5, 94, 0.3215686275);
  background: rgba(3, 5, 94, 0.3215686275);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 100ms ease-out;
}
.cursor-outer {
  height: 55px;
  width: 55px;
  border: 1px solid rgba(3, 5, 94, 0.3215686275);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 300ms ease-out;
}

.design {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.design .img_1 {
  position: absolute;
  width: 30%;
}
.design .img_2 {
  position: absolute;
  width: 50%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-body {
  display: flex;
  position: relative;
  column-gap: 0;
}

.container {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 20rem;
  max-width: 20rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 3% 1.5%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.425);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 75vh;
  height: fit-content;
  justify-content: space-evenly;
  font-size: 1rem;
  font-weight: 400;
  overflow: auto;
}
.sidebar h1 {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
  z-index: 100;
  cursor: default;
}
.sidebar .time-weather {
  cursor: default;
  height: fit-content;
}
.sidebar .time-weather .time {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 500;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}
.sidebar .time-weather .weather-div {
  display: flex;
  justify-content: space-between;
}
.sidebar .time-weather .weather-div .weather {
  color: black;
  font-weight: 500;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}
.sidebar .time-weather .weather-div .refresh {
  fill: #023e8a;
  height: 1.5rem;
  width: 6%;
  font-weight: 900;
  cursor: pointer;
  margin-right: 10px;
}
.sidebar .button {
  display: flex;
  flex-direction: column;
}
.sidebar .button a {
  box-sizing: content-box;
  padding: 0.9rem 1rem;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  position: relative;
  transition: all 200ms;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}
.sidebar .button a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 200ms;
  z-index: -1;
}
.sidebar .button a:hover {
  border: 1px solid rgba(0, 0, 0, 0.61);
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sidebar .button a:hover::after {
  width: 100%;
  height: 100%;
  transform: translateX(0);
}
.sidebar .button a:active::after {
  left: 100%;
}
.sidebar .button a:first-of-type {
  margin-bottom: 4%;
}
.sidebar .add_menu{
  display: none;
}

.navbar {
  font-size: 4rem;
  margin-bottom: 2.5%;
  width: fit-content;
  position: sticky;
  top: 0;
  width: fit-content;
  z-index: 100;
  background: linear-gradient(to right, #003566, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: default;
}
.navbar h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.hide {
  transform: scale(0.001);
}

.notification {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.2rem;
  max-height: 95vh;
  overflow: auto;
  max-width: 20%;
}
.notification p {
  border: 1px solid black;
  color: aliceblue;
  padding: 0.8rem 1.2rem;
  margin-bottom: 1rem;
  transition: all 300ms;
}

.rotate {
  animation: rotate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.editor .editor-main {
  border: 1px solid black;
  padding: 8% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(450px, 50%);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.425);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.editor label {
  color: #000;
  font-weight: 400;
}
.editor div {
  box-sizing: border-box;
  width: 110%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editor div input {
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  outline: none;
  background-color: transparent;
  width: 56%;
}
.editor div label {
  cursor: pointer;
}
.editor div:not(:last-of-type) {
  margin-bottom: 10%;
}
.editor .description-div #description{
  resize: vertical;
  padding: 0.5rem 1rem;
  margin: 0;
  outline: none;
  background: transparent;
  width:56%;
  height: 100px;
  max-height: 250px;
  min-height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.editor .buttons {
  display: flex;
  justify-content: space-around;
}
.editor .buttons button {
  padding: 0.6rem 1rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  transition: all 100ms;
}
.editor .buttons .submit:hover {
  color: #07b91f;
  box-shadow: 0 0 40px rgba(3, 231, 26, 0.255);
  border: 1px solid rgba(3, 231, 26, 0.255);
  font-weight: 500;
}
.editor .buttons .submit:active {
  box-shadow: none;
}
.editor .buttons .cancel:hover {
  font-weight: 500;
  color: #d90429;
  box-shadow: 0 0 40px rgba(217, 4, 39, 0.2392156863);
  border: 1px solid #d90429;
}
.editor .buttons .cancel:active {
  box-shadow: none;
}
.editor .title-div {
  height: fit-content;
}